@page
@model practice2.Pages_SinhVien.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>SinhVien</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SinhVien.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SinhVien.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SinhVien.BirthDay)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SinhVien.BirthDay)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SinhVien.Address)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SinhVien.Address)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.SinhVien?.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
