@page "/admin/roles"
@model MyApp.Namespace.IndexModel
@{
    ViewData["Title"] = "Role Manager";
}

<h2>@ViewData["Title"]</h2>

<partial name="_StatusMessage" model="@Model.StatusMessage" ></partial>

<div class="mb-2">

    <a class="btn btn-primary" asp-page="./Create">Create</a>
    <a class="btn btn-primary" asp-page="../User/Index">List of users</a>
</div>
<table class="table">
    <tr>
        <th>Name Role</th>
        <th>Claim</th>
        <th>Task</th>
    </tr>
    @foreach (var role in Model.roles)
    {
        <tr>
            <td>@role.Name</td>
            <td>
            @foreach (var claim in @role.Claims)
            {
                <small>@claim</small>
                <br />            
            }
            </td>
            <td>
                <a class="btn btn-success" asp-page="./Edit" asp-route-roleid="@role.Id">Edit</a>
                <a class="btn btn-danger" asp-page="./Delete" asp-route-roleid="@role.Id">Delete</a>
            </td>
        </tr>
    }
</table>
